<script type="text/ng-template" id="fileUploadModalDialog.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Upload file</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <file-upload ng-model="uploadedFileUrl"></file-upload>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" style="width: 150px;" ng-click="$close()">OK</button>
        </div>
</script>

<button type="button" class="btn-header" ng-click="showFileUploadDialog()">
    <i class="fa fa-upload"></i>
    Upload file
</button>