@model IEnumerable<String>

<h1>Error detected</h1>

@for (var i = 0; i < Model.Count(); i++)
{
    var message = Model.ElementAt(i);

    if (i + 1 == Model.Count())
    {
        <div class="alert alert-danger">@message</div>
    }
    else
    {
        <div class="alert alert-warning">@message</div>
    }
}

<hr />
<a class="btn btn-primary btn-go-back" href="javascript:window.history.back();">Back</a>