<div class="loginmodal-container">
	<h1>Login to Your Account</h1><br>
	<form>
		<input class="form-control" type="text" name="user" placeholder="Username" ng-model="username">
		<input class="form-control" type="password" name="pass" placeholder="Password"  ng-model="password">
    <input type="submit" name="login" class="btn btn-primary login loginmodal-submit" value="Login" ng-click="auth()">

    <div class="alert alert-danger" ng-show="incorrectCredential">
      <strong>Authoization!</strong> Incorrect login or password
    </div>
	</form>


</div>
