.loading-bar {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loading-bar:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.btn-header-upload {
    background: none;
    border: none;
    color: #FFF;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-header-upload:hover,
.btn-header-upload:focus{
    background: rgba(0,0,0,0.1);
    color: #FFF;
}