<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation" ng-show="authorized">
  <!-- Sidebar toggle button-->
  <span class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
  </span>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li>
        <file-upload-dialog></file-upload-dialog>
      </li>
      <li>
        <input type="button" class="btn-header" value="Logout" ng-click="logout()" />
      </li>
    </ul>
  </div>



</nav>
